In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
# Load datasets
aapl_market = pd.read_hdf('data.hdf5', key='AAPL_O_2019_market').dropna()
amzn_market = pd.read_hdf('data.hdf5', key='AMZN_O_2019_market').dropna()

aapl_market

,HIGH,LOW,OPEN,CLOSE,COUNT,VOLUME,SMA_10M,SMA_30M,SMA_1H,SMA_2H
Date,,,,,,,,,,
2019-01-02 11:00:00,154.60,154.46,154.50,154.60,4.0,268.0,154.431,154.440667,154.502500,154.422250
2019-01-02 11:01:00,154.58,154.58,154.58,154.58,1.0,350.0,154.454,154.443000,154.503833,154.423750
2019-01-02 11:02:00,154.36,154.35,154.36,154.35,2.0,212.0,154.455,154.438000,154.501500,154.426750
2019-01-02 11:03:00,154.35,154.35,154.35,154.35,4.0,786.0,154.455,154.432667,154.499000,154.429667
2019-01-02 11:04:00,154.35,154.31,154.35,154.31,8.0,454.0,154.440,154.424667,154.496500,154.432500
...,...,...,...,...,...,...,...,...,...,...
2019-09-19 23:56:00,221.27,221.15,221.27,221.20,4.0,320.0,221.180,221.175000,221.123167,221.075500
2019-09-19 23:57:00,221.10,221.10,221.10,221.10,1.0,47.0,221.169,221.177333,221.122833,221.076333
2019-09-19 23:58:00,221.10,221.08,221.10,221.08,6.0,713.0,221.158,221.180000,221.122500,221.077667
2019-09-19 23:59:00,221.05,220.96,221.05,220.96,6.0,657.0,221.147,221.179000,221.121333,221.079250
2019-09-20 00:00:00,221.19,221.19,221.19,221.19,2.0,350.0,221.150,221.182667,221.122500,221.081917

In [4]:
import tensorflow as tf
from tf.keras.preprocessing.sequence import TimeSeriesGenerator

ModuleNotFoundError: No module named 'tf'